# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Model cache & user data
backend/storage/uploads/
backend/storage/fonts/
backend/storage/models/

# Generated run scripts (created by installer)
run.sh
run.bat

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
